<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<title>Hello World - Input Form</title>
</h:head>
<h:body>

	<h:form>
		<h:inputText id="name" value="#{theUserName}"
			a:placeHolder="What's your name?"></h:inputText>
		<h:commandButton value="Submit" action="myresponse"></h:commandButton>
	</h:form>

</h:body>

</html>