<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Product Registration Form</title>
</h:head>

<h:body>

	<h:form>

			Name <h:inputText value="#{product.name}" />

		<br />
		<br />

			Category:
			<h:selectOneMenu value="#{product.category}">
			<f:selectItems value="#{product.categoryOptions}"></f:selectItems>
		</h:selectOneMenu>

		<!-- <h:selectOneMenu value="#{product.category}">
				<f:selectItem itemValue="Food" itemLabel="Food" />
				<f:selectItem itemValue="Technic" itemLabel="Technic" />
				<f:selectItem itemValue="Office" itemLabel="Office" />
			</h:selectOneMenu>		  -->

		<br />
		<br />

		<h:commandButton value="Submit" action="product_response" />

	</h:form>

</h:body>

</html>









