<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Product FOUR Registration Form</title>
</h:head>

<h:body>

	<h:form>

			Name <h:inputText value="#{productFour.name}" />

		<br />
		<br />
		
		Ship to:
		<h:selectOneRadio value="#{productFour.shippingCountry}">
			<f:selectItem itemValue="Austria" itemLabel="Austria"></f:selectItem>
			<f:selectItem itemValue="Afghanistan" itemLabel="Afghanistan"></f:selectItem>
			<f:selectItem itemValue="Italy" itemLabel="Italy"></f:selectItem>
		</h:selectOneRadio>

		<br />
		<br />

		<h:commandButton value="Submit" action="product_four_response" />

	</h:form>

</h:body>

</html>









