<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Product Confirmation</title>
    </h:head>

    <h:body>

	    The product is confirmed: #{product.name}

		<br/><br/>
		
		The product's category: #{product.category}
		
    </h:body>
</html>