<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
	<title>Product Confirmation</title>
</h:head>

<h:body>

	    The product is confirmed: #{productTwo.name}

		<br />
	<br />
		
		The product's category: #{productTwo.category}
		
		<br />
	<br />
		
		The product should be shipped to: #{productTwo.shippingCountry}
		
		<br />
	<br />

</h:body>
</html>