<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<title>Product Three Confirmation</title>
</h:head>

<h:body>

	    The product is confirmed: #{productTwo.name}

		<br />
	<br />
		
		The product's category: #{productTwo.category}
		
		<br />
	<br />
		
		The product should be shipped to: #{productTwo.shippingCountry}
		
		<br />
	<br />
	
	The product's chosen properties:

	<ul>

		<ui:repeat value="#{productThree.properties}" var="tempProperty">
			<li>#{tempProperty}</li>
		</ui:repeat>

	</ul>

</h:body>
</html>