<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>Product Registration Form</title>
</h:head>

<h:body>

	<h:form>

			Name <h:inputText value="#{productTwo.name}" />

		<br />
		<br />

			Category:
			<h:selectOneMenu value="#{productTwo.category}">
			<f:selectItems value="#{productTwo.categoryOptions}"></f:selectItems>
		</h:selectOneMenu>

		<!-- <h:selectOneMenu value="#{product.category}">
				<f:selectItem itemValue="Food" itemLabel="Food" />
				<f:selectItem itemValue="Technic" itemLabel="Technic" />
				<f:selectItem itemValue="Office" itemLabel="Office" />
			</h:selectOneMenu>		  -->

		<br />
		<br />
		
		Ship to:
		<h:selectOneRadio value="#{productTwo.shippingCountry}">
			<f:selectItem itemValue="Austria" itemLabel="Austria"></f:selectItem>
			<f:selectItem itemValue="Afghanistan" itemLabel="Afghanistan"></f:selectItem>
			<f:selectItem itemValue="Italy" itemLabel="Italy"></f:selectItem>
		</h:selectOneRadio>

		<br />
		<br />
		
		Choose the properties for the product:
		<h:selectManyCheckbox value="#{productThree.properties}">
		
			<f:selectItem itemValue="pack as present"></f:selectItem>
			<f:selectItem itemValue="deliver fast"></f:selectItem>
			<f:selectItem itemValue="ship sustainable"></f:selectItem>
		
		</h:selectManyCheckbox>

		<h:commandButton value="Submit" action="product_three_response" />

	</h:form>

</h:body>

</html>









