<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
	<title>Student Registration Form</title>
</h:head>

<h:body>

	<h:form>
    	
    	First name: <h:inputText id="firstName" value="#{firstName}" />

		<br />
		<br />

        Last name: <h:inputText id="lastName" value="#{lastName}" />

		<br />
		<br />

		<h:commandButton value="Submit" />

	</h:form>

</h:body>

</html>
