<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
	<title>Student Registration Form</title>
</h:head>

<h:body>

	<h:form>

			First name: <h:inputText value="#{student.firstName}" />

		<br />
		<br />

            Last name: <h:inputText value="#{student.lastName}" />

		<br />
		<br />

		<h:commandButton value="Submit" action="student_response" />

	</h:form>

</h:body>

</html>





