<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
	<title>Student Confirmation</title>
</h:head>

<h:body>
	
		    The student is confirmed: #{student.firstName} #{student.lastName}
	
	</h:body>
</html>